[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pipenv = "*"
psycopg2 = "*"
gunicorn = "*"
coverage = "*"
coveralls = "*"
flask-marshmallow = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Werkzeug = "*"
Flask-WTF = "*"
Flask-Login = "*"
Flask-Testing = "*"
PyMySQL = "*"
Flask-Bootstrap = "*"
marshmallow-sqlalchemy = "*"

[requires]
python_version = "3.8"
